.thankyou-section {
  background-color: var(--lightpurple);
  text-align: center;
  padding: 50px;
  margin-top: 170px;

  @include lg{
    margin-top: 200px;
  }
}

.thankyou-section h1 {
  font-size: 36px;
  color: var(--purple);
}

.thankyou-section p{
  font-size: 18px;
  color: black;
}

.coupon-message {
  font-size: 20px;
  color: black;
  margin-top: 50px;
}
  
  #coupon-code{
  font-size: 24px;
  color: var(--purple);
  margin-top: 10px;
}
.thankyou-container {
      
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  background-color: var(--white);
  text-align: center;
  padding: 16px;
}

.thankyou-image {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 166px;
  height: 127px;
  
  @include lg{
    width: 392px;
    height: 301px;
    
  }
}
#thankyou-image{
  width: 166px;
  height: 127px;

  @include lg{
    width: 392px;
    height: 301px;
    // margin-left: 200px;
  }
}

.email-checkbox {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}
// #checklabel{
//   margin-right: 5px;
// }
#check-label{
margin-right: 55px;
}

.done-button {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.done-button a:hover {
  background-color: var(--purple);
}
