
#checkout{
  margin-top: 216px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

// .column {
//   // margin-right: 20px;
// }

.form-row {
  display: flex;
  justify-content: center;
  
}

input {
  width: 155px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;

   @include md{
    width: 300px;
    height: 45px;
  
   }

   @include lg{
    width: 500px;
    height: 50px;
  
   }
}
#checkouthero-contain{
  text-align: center;
  justify-content: center;
}
#checkouthero{
  text-align: center;
  // display: flex;
  justify-content: center;
  width: 330px;
  height: auto;
  padding: 0;
  // margin: 16px 20%;
  // box-shadow:(-4px 4px 4px rgba(0, 0, 0, 0.25));
  
  @include lg{
    margin: 16px 20%;
    width: 542px;
    height: auto;
  }
  
}
#sharkcost{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  // margin-left: 35px;
  text-align: center;
}

// #checkout p{
  
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 24px;
// }
// #checkout{
//   >div{
//     p{
      
//       font-family: 'Poppins';
//       font-style: normal;
//      font-weight: 400;
//       font-size: 16px;
//       line-height: 24px;
//     }
//   }
// }