/* =============
    accessories
============= */

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

.accessories-section {
  display: grid;
  place-items: center;
  gap: 20px;
  background-color: var(--lightpurple);
  text-align: center;
}





.accessory-card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  text-align: center;
  width: 300px;
  padding: 20px;
 
}

.accessory-image {
  width: 100%;
  padding-top: 25px;
  background-color: var(--purple);
}

.accessory-paragraph {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
