/* =============
    accessories
============= */

// body {
//   margin: 0;
//   padding: 0;
//   background-color: var(--white);
// }

#accessories-section {
  display: grid;
  place-items: center;
  gap: 20px;
  background-color: var(--lightpurple);
  text-align: center;
  
}


#accessories-media{
  
  @include lg{
    display: flex;
  }

  
}


.accessory-card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  text-align: center;
  width: 300px;
  padding: 20px;
  @include md{
    width: 100%;
    height: auto;
    gap: 50px;
    // margin-left: 20px;
    overflow: hidden;
  }
 
  @include lg{
    width: 100%;
    height: auto;
    gap: 50px;
    // margin-left: 20px;
    overflow: hidden;
    
  }
  @include xl{
    max-width: 1440px;
  }
}

.accessory-image {
  width: 100%;
  padding-top: 25px;
  background-color: var(--purple);

  @include lg{
    width: 100%;
    height: auto;
    gap: 50px;
  }
  @include xl{
    max-width: 1440px;
  }
}

.accessory-paragraph {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;

  @include lg{
    margin: 0;
  }
  
}
