/* =============
    advantages
============= */
body {
  margin: 0;
  padding: 0;
}

.advantages-section {
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 50px;
  background-color:green;
  text-align: center;

}



.advantage-card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  text-align: center;
  width: 300px;
  padding: 20px;

}

.advantage-image {
  width: 100%;
  padding-top: 25px;
  background-color: var(--purple);
}

.advantage-caption {
  margin: 10px 0;
  font-weight: bold;
}

.advantage-paragraph {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

