/* =============
    Hero
============= */


#hero {
    margin-top: 200px;
    text-align: center;
    // padding: 50px 0;
    // background-color: var(--purple);
    // color: var(--white);
    display: grid;
    place-items: center;

    background-image: url("../img/hero/hero.png");
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    @include lg{
        // max-width: 1440px;
    }
}



// #hero .hero-image {
//     width: 100%;
//     // max-width: 600px;
//     height: auto;
//     margin-bottom: 20px;

//     @include md{
//         width: 100%;
//     }

//     @include lg{
//         max-width: 1240px;
//     }
    
// }

#stratos-header {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 47px;
    margin: 0;
    color: var(--white);

   
     @include lg{
        
        margin-bottom: 50px;
        margin-top: 50px;
        font-weight: 400;
        font-size: 126px;
        line-height: 28px;
     }
}

#meet {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 20%;
    // max-width: 600px;
    @include lg{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        // max-width: 1005px;
    }
}

