// body {
//   margin: 0;
//   padding: 0;
//   // font-family: Arial, sans-serif;
// }

.packages-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  // padding: 16px;
  // height: 100vh;

  
}

#packages-media{
  
  @include lg{
    display: flex;
    flex-direction: row;
  }

  
}

.package {
  // display: grid;
  // grid-template-columns: 1fr;
  text-align: center;
  // background-color: #f5f5f5;
  // border-radius: 8px;
  padding: 16px;
  
}

.package img {
  max-width: 331px;
  height: auto;
  padding-top: 25px;
  // margin-bottom: 25px;
  background-color: var(--purple);
  justify-content: center;
  align-self: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Added this line */

}

.package h3 {
  margin: 10px 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 96px;
text-align: center;
color: var(--red);
@include lg{
display: none;    
}
}
.LargeSizeH3{
@include sm{
  display: none;
}
@include md{
display: none;
}
@include lg{
  margin: 10px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: var(--red);
  }
}

.package p {
  margin: 10px 0;
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.buy-button-section {
  margin-top: 50px;
  margin-bottom: 16px;
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 50px;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  border-radius: 75px;
  
  
  width: 122px; /* Added this line */
  padding: 15px 70px; /* Updated padding */
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;


  
}




.compare-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 16px;
}

.compare-button {
  display: inline-block;
    padding: 18px 16px;
    border-radius: 75px;
    width: 300px;
    height: 72;
    background-color: var(--red);
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
    // margin-left: 75px;
    
    cursor: pointer;
  // background-color: var(--red);
  // color: #fff;
  // border: none;
  // border-radius: 75px;
  // padding: 8px 16px;
  // cursor: pointer;
  // width: 300px;
  // height: 72px;
  // text-align: center;
  // font-family: 'Poppins';
  // font-style: normal;
  // font-weight: 400;
  // font-size: 40px;
  // line-height: 36px;
  
}
