/* =============
    Base
============= */
body{
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

a{
    text-decoration: none;
}

// .hero-images{
//     width: 100%;
// }
.red-bar{
    background-color: var(--red);
    padding-top: 36px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.imagebars{
    padding-top: 25px;
    background-color: var(--purple);
    width: 100%;
}

.section-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 82px;
    text-align: center;
    color: var(--purple);
    @include md{
        font-weight: 500;
        font-size: 75px;
        line-height: 150px;
        margin: 0;
    }

    @include lg{
        font-weight: 500;
        font-size: 100px;
        line-height: 150px;
        margin: 0;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    width: 122px;
    background-color: var(--red);
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    // margin-left: 75px;
    
    cursor: pointer;
    @include lg{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        
        // position: absolute;
        width: 122px;
        height: 53px;
        left: 271px;
        top: 2464px;
        
        background: #B1262B;
        border-radius: 8px; 
        margin-left: 200px;       
      }
  }