/* =============
    Hero
============= */
.61_57 { 
	overflow:hidden;
}
.e61_57 { 
	width:453px;
	height:893px;
	position:absolute;
}
.e53_11 { 
	width:393px;
	height:673px;
	position:absolute;
	left:45px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_12 { 
	color:rgba(255, 255, 255, 1);
	width:409px;
	height:84px;
	position:absolute;
	left:38px;
	top:517px;
	font-family:Gugi;
	text-align:center;
	font-size:46px;
	letter-spacing:0;
	line-height:px;
}
.e53_13 { 
	background-color:rgba(112.000000923872, 75.00000312924385, 127.00000002980232, 1);
	width:393px;
	height:61px;
	position:absolute;
	left:45px;
	top:1.3500311979441904e-13px;
}
.e58_15 { 
	color:rgba(255, 255, 255, 1);
	width:453px;
	height:61px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Futura PT;
	text-align:center;
	font-size:39px;
	letter-spacing:0;
	line-height:px;
}
.e58_50 { 
	color:rgba(0, 0, 0, 1);
	width:360px;
	height:190px;
	position:absolute;
	left:60px;
	top:703px;
	font-family:Poppins;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e106_13 { 
	background-color:rgba(177.0000046491623, 38.0000015348196, 43.00000123679638, 1);
	width:393px;
	height:39px;
	position:absolute;
	left:45px;
	top:61px;
}
.e106_14 { 
	color:rgba(255, 255, 255, 1);
	width:55px;
	height:12px;
	position:absolute;
	left:51px;
	top:69px;
	font-family:Poppins;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e106_15 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:12px;
	position:absolute;
	left:126px;
	top:69px;
	font-family:Poppins;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e106_16 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:12px;
	position:absolute;
	left:249px;
	top:69px;
	font-family:Poppins;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e106_17 { 
	color:rgba(255, 255, 255, 1);
	width:64px;
	height:12px;
	position:absolute;
	left:364px;
	top:69px;
	font-family:Poppins;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
