/* =============
    Hero
============= */
hero{
    div{
        h1{
            font-family: 'Gugi', cursive;
            font-family: Gugi;
            font-size: 46px;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

    #Meet{ 
        align-self: center;
    }
}