/* =============
    Header
============= */
#header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: var(--purple);
  color: var(--white);
  // padding-top: 25px;
  text-align: center;
  font-size: 39px;
  font-family: 'Futura PT';
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  // position: fixed;
  width: 100%;
  
}

// .header {
//   grid-row: 1;
//   justify-self: center;
// }

.bottom-section {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 16px;
  background-color: var(--red);
  width: 100%;
  padding-top: 16px ;
  padding-bottom: 16px;
  // padding-left: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  
  
}

.bottom-section a {
  color: white;
  text-decoration: none;
}

.bottom-section a:hover {
  text-decoration: underline;
  color: var(--purple);
}
